/* Color pallete */
@define-color bar-bg    rgba(50, 48, 47,   0);
@define-color main-bg   rgba(50, 48, 47,   1);
@define-color main-fg   rgba(212, 190, 152, 1);
@define-color wb-act-bg rgba(212, 190, 152, .9);
@define-color wb-act-fg rgba(16,   16,  16,   1);
@define-color wb-hvr-bg rgba(57,   57,  57,   1);
@define-color wb-hvr-fg rgba(81,   81,  81,   1);

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font"; /* Terminess Nerd Font 11px | JetBrainsMono Nerd Font 10*/
  font-weight: bold;
  font-size: 10px;
  min-height: 10px;
}

window#waybar {
  background: @bar-bg;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 5px;
  border-width: 0px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  color: #32302F;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
  background: @wb-act-bg;
  color: @main-bg;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @main-fg;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  color: @wb-color;
  animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
  background: @wb-act-bg;
  color: @wb-act-color;
  margin-left: 2px;
  padding-left: 11px;
  padding-right: 11px;
  margin-right: 2px;
  animation: tb_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-color;
  animation: tb_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#custom-music.Playing,
#custom-music.Paused,
#custom-music.Stopped,
#custom-logo,
#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#network,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-wallchange,
#custom-wbar,
#window,
#custom-screenshot,
#custom-screenrecording,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  margin: 5px 0px 5px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#custom-modes {
  border-radius: 3px;
  margin-left: 8px;
  margin-right: 8px;

  color: #32302F;
  background: #EA6962;
  opacity: 1;
  margin: 5px 5px 5px 5px;
  padding-left: 7px;
  padding-right: 7px;
}


#custom-updates,
#mpris {
  border-radius: 3px;
  margin-left: 8px;
  margin-right: 8px;

  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  margin: 5px 5px 5px 5px;
  padding-left: 4px;
  padding-right: 4px;
}

#custom-pickcolor {
  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  margin: 5px 0px 5px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces {
  color: #32302F;
  background: #A89984;
  opacity: 1;
  margin: 5px 0px 5px 0px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 3px;
}

#custom-todos {
  color: #32302F;
  background: #D8A657;
  opacity: 1;
  margin: 5px 0px 5px 0px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 3px;
}

#workspaces,
#taskbar {
  padding-right: 7px;
  padding-left: 7px;
}

#custom-r_end {
  border-radius: 0px 5px 5px 0px;
  margin-right: 8px;
  padding-right: 0px;
}

#custom-l_end {
  border-radius: 5px 0px 0px 5px;
  margin-left: 8px;
  padding-left: 0px;
}

#custom-sr_end {
  border-radius: 0px;
  margin-right: 8px;
  padding-right: 0px;
}

#custom-sl_end {
  border-radius: 0px;
  margin-left: 8px;
  padding-left: 0px;
}

#custom-rr_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 8px;
  padding-right: 0px;
}

#custom-rl_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 8px;
  padding-left: 0px;
}

